<!DOCTYPE html>
<html lang="en"
style="text-align: center;
background-image: url('https://imgs.search.brave.com/Jhip99Bh6aIQWyy3RfLhXwsrYpV5TpIwdgt_gTa2G90/rs:fit:1200:952:1/g:ce/aHR0cHM6Ly9pLm1v/cmlvaC5jb20vMjAw/NzAyL2IzMTU0ZDMy/LmpwZw');
width: 100%;
height: 100%;
margin: 0px;
padding: 0px;
overflow-x: scroll;
overflow-y: scroll; ">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FinSeek Tracking/Reporting System Currency Exchange Information Show</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css">
</head>
<div id="currency_exchange_info">
<main id="currency_exchange_info_main">
    <h2><p class="title is-1 has-text-centered is-size-2 has-background-warning"
        style="border-radius: 30px;" id="currency_exchange_info_show_title_p"><b><em>FinSeek Crypto/Finance Tracking/Reporting System Currency Exchange Information </em></b></p></h2>
    <br />
    <br />
    <br />
    <% for(let index=0; index < currency_exchange.length; index++) { %>
        <div class="tag" style="width:100%; height:100%; border-radius: 40%;" id="currency_exchange_info_index">
            <p class="is-size-2 has-text-black"  style="text-size-adjust: 15px;" class="list-item" id="currency_exchange_info_id"><b>Financial User(s) Currency Exchange Info ID</b>: <em><a href="/crypto_finance/currency_exchange_show/<%=index%>"><%=currency_exchange[index].finance_currency_exchange_info_id %></a></em></p>
        </div>
        <br />
        <br />
        <br />
        <iframe width="700" height="950" src="<%=currency_exchange[index].currency_exchange_org_url_link %>" 
            title="Currency Exchange URL" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            ></iframe>
        
   <% } %>
   <br />
   <br />
   <br />
   <br />
   <br />
   <br />
<form action="/crypto_finance/currency_exchange_new" method="get" align="right" name="create_currency_exchange_new_form">
    <label>
        <button class="button is-warning is-uppercase is-underlined is-primary" id="currency_exchange_info_create_new_btn__" align="right"><a href="/crypto_finance/currency_exchange_new">Add/Create Finseek Ledger System Crypto Finance Currency Exchange Instance(s)</a></button>
    </label>
</form>
<br />
<form action="/crypto_finance/ledger_index" method="get" align="right" name="go_to_currency_exchange_index_form">
    <label>
        <button class="button is-warning is-uppercase is-underlined" id="return_to_currency_exchange_info_index" align="right"><a href="/crypto_finance/ledger_index">Return to Finseek Crypto/Finance Ledger System Home Screen</a></button>
    </label>
</form>
</main></div>
</html>