<!DOCTYPE html>
<html lang="en"
style="text-align: center;
background-image: url('https://imgs.search.brave.com/Jhip99Bh6aIQWyy3RfLhXwsrYpV5TpIwdgt_gTa2G90/rs:fit:1200:952:1/g:ce/aHR0cHM6Ly9pLm1v/cmlvaC5jb20vMjAw/NzAyL2IzMTU0ZDMy/LmpwZw');
width: 100%;
height: 100%;
margin: 0px;
padding: 0px;
overflow-x: scroll;
overflow-y: scroll; ">
 <head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Edit Crypto Exchange</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css">
 </head>
 <body>
    <main>
      <legend class="title is-1 has-text-centered is-size-2 has-background-warning" style="
      border-radius: 30px;
  -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  box-shadow: 1px 2px 3px rgba(0,0,0,.5);">Edit In New Information for the Crypto Exchange</legend>
      <br />
        <div id="crypto_edit" style="border-radius: 40%; background-color:white">
          <form action="/crypto_finance/crypto_exchange_show/<%=id %>?_method=PUT" method="post">
            <fieldset>
              <br />
              <br />
              <label class="list-item title is-1 has-text-centered is-size-4"
              style="border-radius: 30px;
          color:black;
          -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
      -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
      box-shadow: 1px 2px 3px rgba(0,0,0,.5);"> 
                Crypto Exchange ID:&#20;&#20;<input class="button is-warning"
                  type="number"
                  name="crypto_exchange_id"
                  placeholder="Enter Crypto Exchange ID..."
                />
              </label>
              <br />
              <br />
              <label class="list-item title is-1 has-text-centered is-size-4"
              style="border-radius: 30px;
          color:black;
          -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
      -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
      box-shadow: 1px 2px 3px rgba(0,0,0,.5);">
                Crypto Exchange Organization Name:&#20;&#20;<input class="button is-warning"
                  type="text"
                  name="crypto_currency_exchange_org_name"
                  placeholder="Enter Crypto Exchange Organization Name..."
                />
              </label>
              <br />
              <br />
              <label class="list-item title is-1 has-text-centered is-size-4"
              style="border-radius: 30px;
          color:black;
          -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
      -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
      box-shadow: 1px 2px 3px rgba(0,0,0,.5);">
                Crypto Exchange Organization Url Link:&#20;&#20;<input class="button is-warning"
                  type="text"
                  name="crypto_currency_exchange_org_url_link"
                  placeholder="Enter Crypto Exchange Organization Url Link..."
                />
              </label>
              <br />
              <br />
              <label class="list-item title is-1 has-text-centered is-size-4"
              style="border-radius: 30px;
          color:black;
          -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
      -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
      box-shadow: 1px 2px 3px rgba(0,0,0,.5);">
                Crypto Currency Name:&#20;&#20;<input class="button is-warning" type="text" name="crypto_currency_name"
                 placeholder="Enter Crypto Currency Name..." />
              </label>
              <br />
              <br />
              <label class="list-item title is-1 has-text-centered is-size-4"
              style="border-radius: 30px;
          color:black;
          -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
      -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
      box-shadow: 1px 2px 3px rgba(0,0,0,.5);">
                Crypto Currency Price:&#20;&#20;<input class="button is-warning" type="number" name="crypto_currency_price" 
                placeholder="Enter Crypto Currency Price..." />
              </label>
              <br />
              <br />
              <label class="list-item title is-1 has-text-centered is-size-4"
              style="border-radius: 30px;
          color:black;
          -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
      -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
      box-shadow: 1px 2px 3px rgba(0,0,0,.5);">
                Crypto Currency Transaction Date:&#20;&#20;<input class="button is-warning" type="text" 
                name="crypto_currency_transactiondate" 
                placeholder="Enter Crypto Currency Transaction Date..." />
              </label>
              <br />
              <br />
              <label class="list-item title is-1 has-text-centered is-size-4"
              style="border-radius: 30px;
          color:black;
          -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
      -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
      box-shadow: 1px 2px 3px rgba(0,0,0,.5);">
                Crypto Currency Order Status:&#20;&#20;<input class="button is-warning" type="text" 
                name="crypto_currency_order_status" placeholder="Enter Crypto Currency Order Status..." />
              </label>
              <br />
              <br />
              <label class="list-item title is-1 has-text-centered is-size-4"
              style="border-radius: 30px;
          color:black;
          -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
      -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
      box-shadow: 1px 2px 3px rgba(0,0,0,.5);">
                Blockchain Receiving Transaction Hash ID Num:&#20;&#20;<input class="button is-warning" type="text" name="blockchain_receiving_transaction_hash_id_num" 
                placeholder="Enter Blockchain Sending Transaction Hash ID Num..." />
              </label>
              <br />
              <br />
              <label class="list-item title is-1 has-text-centered is-size-4"
              style="border-radius: 30px;
          color:black;
          -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
      -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
      box-shadow: 1px 2px 3px rgba(0,0,0,.5);">
                Blockchain Sending Transaction Hash ID Num:&#20;&#20;<input class="button is-warning" type="text" name="blockchain_sending_transaction_hash_id_num" 
                placeholder="Enter Blockchain Sending Transaction Hash ID Number..." />
              </label>
              <br />
              <br />
              <label class="list-item title is-1 has-text-centered is-size-4"
              style="border-radius: 30px;
          color:black;
          -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
      -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
      box-shadow: 1px 2px 3px rgba(0,0,0,.5);">
                Crypto Currency Circulating Supply:&#20;&#20;<input class="button is-warning" type="number" 
                name="crypto_currency_circulating_supply"
                 placeholder="Enter Crypto Currency Circulating Supply..." />
              </label>
              <br />
              <br />
              <label class="list-item title is-1 has-text-centered is-size-4"
              style="border-radius: 30px;
          color:black;
          -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
      -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
      box-shadow: 1px 2px 3px rgba(0,0,0,.5);">
                Crypto Currency Quantity:&#20;&#20;<input class="button is-warning" type="number" 
                name="crypto_currency_quantity"
                 placeholder="Enter Crypto Currency Quantity..." />
              </label>
              <br />
              <br />
            </fieldset>
        </div>
        <br />
        <br />
        <input class="button is-primary is-warning is-uppercase is-underlined" type="submit" value="Submit" />
        <button class="button is-warning is-uppercase is-underlined" id="return_to_crypto_exchange_index"><a href="/crypto_finance/crypto_exchange_show/<%=id %>">Return to the Crypto Exchange Home Screen</a></button>
        </form>
        
      </main>
    </body>
