<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Edit Crypto Exchange</title>
 </head>
 <style>

  legend {
    font-size: 30px;
        border-radius: 30px;
    text-align: center;
    color:white;
    -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
-webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  }

    label {
        font-size: 30px;
        border-radius: 30px;
    text-align: center;
    color:white;
    -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
-webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    }
    
    html {
            text-align: center;
            background-image: url("https://imgs.search.brave.com/Jhip99Bh6aIQWyy3RfLhXwsrYpV5TpIwdgt_gTa2G90/rs:fit:1200:952:1/g:ce/aHR0cHM6Ly9pLm1v/cmlvaC5jb20vMjAw/NzAyL2IzMTU0ZDMy/LmpwZw");
            width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden; 
        }
  
  main {
    writing-mode: horizontal;
      border: 5px solid yellow;
      border-inline-style:dashed;
  }

  fieldset{
    writing-mode: horizontal;
      border: 5px solid yellow;
      border-inline-style:dashed;
  }
</style>
 <body>
    <main>
        <div clas="crypto_edit">
          <form action="/crypto_finance/crypto_exchange_show/<%=id %>?_method=PUT" method="post">
            <fieldset>
              <legend>Edit In New Information for the Crypto Exchange</legend>
              <br />
              <label>
                Crypto Exchange ID:<input
                  type="number"
                  name="crypto_exchange_id"
                  placeholder="Enter Crypto Exchange ID..."
                />
              </label>
              <br />
              <label>
                Crypto Exchange Organization Name:<input
                  type="text"
                  name="crypto_currency_exchange_org_name"
                  placeholder="Enter Crypto Exchange Organization Name..."
                />
              </label>
              <br />
              <label>
                Crypto Exchange Organization Url Link:<input
                  type="text"
                  name="crypto_currency_exchange_org_url_link"
                  placeholder="Enter Crypto Exchange Organization Url Link..."
                />
              </label>
              <br />
              <label>
                Crypto Currency Name:<input type="text" name="crypto_currency_name"
                 placeholder="Enter Crypto Currency Name..." />
              </label>
              <br />
              <label>
                Crypto Currency Price:<input type="number" name="crypto_currency_price" 
                placeholder="Enter Crypto Currency Price..." />
              </label>
              <br />
              <label>
                Crypto Currency Transaction Date:<input type="text" 
                name="crypto_currency_transactiondate" 
                placeholder="Enter Crypto Currency Transaction Date..." />
              </label>
              <br />
              <label>
                Crypto Currency Order Status:<input type="text" 
                name="crypto_currency_order_status" placeholder="Enter Crypto Currency Order Status..." />
              </label>
              <br />
              <label>
                Blockchain Receiving Transaction Hash ID Num:<input type="text" name="blockchain_receiving_transaction_hash_id_num" 
                placeholder="Enter Blockchain Sending Transaction Hash ID Num..." />
              </label>
              <br />
              <label>
                Blockchain Sending Transaction Hash ID Num:<input type="text" name="blockchain_sending_transaction_hash_id_num" 
                placeholder="Enter Blockchain Sending Transaction Hash ID Number..." />
              </label>
              <br />
              <label>
                Crypto Currency Circulating Supply:<input type="number" 
                name="crypto_currency_circulating_supply"
                 placeholder="Enter Crypto Currency Circulating Supply..." />
              </label>
              <br />
              <label>
                Crypto Currency Quantity:<input type="number" 
                name="crypto_currency_quantity"
                 placeholder="Enter Crypto Currency Quantity..." />
              </label>
              <br />
            </fieldset>
            <input type="submit" value="Submit" />
            <button class="return_to_crypto_exchange_index"><a href="/crypto_finance/crypto_exchange_show/<%=id %>">Return to the Crypto Exchange Home Screen</a></button>
          </form>
        </div>
      </main>
    </body>
