<!DOCTYPE html>
<html lang="en">
<link type="text/css" rel="stylesheet" href="/public/css/signup_login_css.css">

<body id="crypto_finance_signup_body">
        <h1><em><b>
            Create New FinSeek Crypto/Finance Ledger System User
        </b></em></h1>
        <form action="/user/signup" method="post" class="new_user_create_form">
            <fieldset>
                <label><b><u>Enter Username: </u></b><input type="text" name="username" required></label></br>
                <br/>
                <label><b><u>Enter Password: </u></b><input type="password" name="password" required></label></br>
                <br/>
                <br/>
                <label><input type="submit" class="signup_btn" value="Create FinSeek Crypto/Finance User(s)"></label>
            </fieldset>
        </form>
        <br/>
        <button class="btn_login_page"><a href="/user/login">Back to Initial Login Page</a></button></div>    
    </body>
</main>
</html>